

.Form{
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:auto;
    background-color: #cddce986;
    position: relative;
    top: 5rem;
    border-top: 3px solid grey;
   
}

form{
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem 5rem 3rem;
    border-radius: 10px;
    margin:auto 30% auto 30%;
    width: 100%;
}

.focus{
    border: 2px solid green !important;
}


input{
    border: none;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid black;
}

fieldset{
    padding: 0.3rem;
    width: 100%;
    text-align: left;
}

.float{
    float: right;
}

legend{
    margin-bottom: 1rem;
}

.titale{
    margin-bottom: 3rem;
    border-bottom: 1px solid grey;
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 2rem;
}

.submit{
    color: white;
    background-color: black;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
}

.submit:hover{
    color: black;
    background-color: white;
}

.danger{
    color: red;
}